[
    {yaguid, [
        %% node ID: 0-1023
        {node_id, 1023},
        %% Local Partition Size: number of independent ID-issuing local servers
        %%                       (power of 2)
        {local_partition_size, 4}
    ]}
].
